/*---CSS Reset---*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #e9c7c7;
}

#react-entry-point {
    height: 100%;
}

* {
    margin: 0;
}

h1, h5 {
    overflow-wrap: break-word;
}

/*---CSS Reset---*/

#main {
    height: 100%;
}

#grid-container {
    height: 100%;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

#magType-container {
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
}

#magSource-container {
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 5;
}

#shares-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}

#mag-RangeSlider-container {
    background-color: white;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

#year-RangeSlider-container {
    background-color: white;
    
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

#map-container {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 9;
}

.display-item {
    width: 100%;
    height: 100%;
}

#mag-linechart-container {
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start: 5;
    grid-column-end: 9;
}

