/*---CSS Reset---*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    background-color: rgb(6, 6, 34);
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#react-entry-point {
    height: 100%;
}


* {
    margin: 0;
}

h1, h5 {
    overflow-wrap: break-word;
}

/*---CSS Reset---*/

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#top-container {
    display: flex;
    flex-direction: row;
}

#upper-left-container {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

#upper-right-container {
    flex-basis: 50%;
}

#RangeSlider-shares-container {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

#histogram-container {
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
}

#magType-container {
    flex-basis: 50%;
}

#magSource-container {
    flex-basis: 50%;
}

#shares-container {
    color: white;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#RangeSlider-container {
    flex-basis: 50%;
}

#RangeSlider-container {
    display: flex;
    flex-direction: column;
}

#mag-RangeSlider-container {
    flex-basis: 50%;
}

#year-RangeSlider-container {
    flex-basis: 50%;
}

#mag-RangeSlider {
    width: 100%;
    height: 100%;
    flex-basis: 50%;
}

#year-RangeSlider {
    width: 100%;
    height: 100%;
    flex-basis: 50%;
}

#magType-histogram {
    width: 100%;
    height: 100%;
}

#magSource-histogram {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#mag-linechart {
    width: 100%;
    height: 100%;
}

